<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<link rel="stylesheet" href="/assets/css/index.css">
<body>
<div class="wrapper">
    <div class="container-search">
        <h1>LL SEARCH</h1>
        <form th:action="@{/profile}" class="container-input" method="get">
            <input type="text" id="username" name="username" class="search-term" placeholder="소환사 검색하기">
            <button type="submit" class="search-button" id="selectTheory">
                <i class="fa fa-search"></i>
            </button>
        </form>
        <div th:replace="fragments.html :: message"></div>
        <ul class="search-history">
            <li>
                <span class="text"><a th:href="@{/profile(username='연구바이블')}">연구바이블</a></span>
                <a th:href="@{/profile(username='연구바이블')}" class="link"></a>
            </li>
            <li>
                <span class="text"><a th:href="@{/profile(username='호빵둥절')}">호빵둥절</a></span>
                <a th:href="@{/profile(username='호빵둥절')}" class="link"></a>
            </li>
            <li>
                <span class="text"><a th:href="@{/profile(username='근자근')}">근자근</a></span>
                <a th:href="@{/profile(username='근자근')}" class="link"></a>
            </li>
        </ul>
    </div>
</div>
</body>
<script src="/node_modules/aos/dist/aos.js"></script>
<script type="application/javascript" th:inline="javascript">
    AOS.init();
</script>
</html>
